<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @game.player_1.name %> vs <%= @game.player_2.name %>
    <br>
    <br>
    <%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
    <br>
    <%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
    <br>
    <br>
    <%= @game.current_turn.name %>'s turn
    <br>
    <a href="/attack">Attack</a>
  </body>
</html>
